<%= form_with model: @movie, local: true do |form| %>

  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@movie.errors.count, "error") %> prohibited
        this movie from being saved:
      </h2>
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :release_date, 'Release Date' %><br>
    <%= form.date_field :release_date %>
  </p>

  <p>
    <%= form.label :chronological_order, 'Chronological Order' %><br>
    <%= form.text_field :order %>
  </p>

  <p>
    <%= form.label :length, 'Length (minutes)' %><br>
    <%= form.text_field :length %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>