<p id="notice"><%= notice %></p>

<h1>Star Wars</h1>

<%= link_to 'Add New Movie', new_movie_path %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Release Date</th>
      <th>Chron. Order</th>
      <th>Length</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.release_date.strftime("%b %d, %Y") %></td>
        <td><%= movie.order %></td>
        <td><%= movie.length %> min</td>
        <td></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie_path(movie),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', controller: 'home' %>