<%= link_to '<< All Movies', movies_path %>

<h2>
  <%= @movie.title %>
</h2>
 
<p>
  <strong>Release Date:</strong>
  <%= @movie.release_date %>
</p>

<p>
  <strong>Chronological Order:</strong>
  <%= @movie.order %>
</p>

<p>
  <strong>Length:</strong>
  <%= @movie.length %>
</p>

<% if @movie.crawl.present? %>
	<p>
	  <strong>Opening Crawl:</strong>
  	  <%= @movie.crawl.text %>
  	</p>
<% end %>

<%= link_to 'Edit', edit_movie_path(@movie) %>