<%= form_with model: @crawl, local: true do |form| %>

  <% if @crawl.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@crawl.errors.count, "error") %> prohibited
        this crawl from being saved:
      </h2>
      <ul>
        <% @crawl.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :movie_id %><br>
    <%= form.collection_select :movie_id, Movie.all, :id, :display_name %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>