<p id="notice"><%= notice %></p>

<h1>Star Wars Crawls</h1>

<%= link_to 'Add New Crawl', new_crawl_path %>

<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @crawls.each do |crawl| %>
      <tr>
        <td><%= crawl.movie.display_name %></td>
        <td></td>
        <td><%= link_to 'View', crawl %></td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', controller: 'home' %>